root = true

[*.{c,h,l,y,pl,pm}]
indent_style = tab
indent_size = tab
tab_width = 4
trim_trailing_whitespace = true

[*.{sgml,xml}]
indent_style = space
indent_size = 1

[*.xsl]
indent_style = space
indent_size = 2
